// buttons

// btn
.btn {
  display: inline-flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  //   text
  font-family: Satoshi;
  color: $colorDefault;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
}

// btn-default
.btn-default {
  border-radius: 2px;
  border: 1px solid var(--border-default, rgba(218, 197, 167, 0.15));
  background: var(--background-muted, rgba(218, 197, 167, 0.05));
  backdrop-filter: blur(15px);
}

// btn-white

.btn-white {
  border-radius: 2px;
  background: $colorDefault;
  color: #0e0e0e;
  &:hover {
    background-color: #dfdfdf;
  }
  img {
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
  &.with-arrow {
    &:hover img {
      transform: rotate(45deg);
    }
    img {
      padding: 4.05px;
    }
  }
}

// Arrow up right
.arrow {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  font-family: Satoshi;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $colorDefault;
  display: flex;
  align-items: center;
  gap: 12px;
  &.up-right {
    span {
      position: relative;
      display: inline-block;
    }
    span::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 0;
      background-color: currentColor; /* або конкретний колір, напр. #000 */
      transition: width 0.3s ease;
    }

    &:hover span::after {
      width: 100%;
    }

    img {
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      border-radius: 50%;
      border: 1px solid rgba(218, 197, 167, 0.15);
      background: rgba(218, 197, 167, 0.05);
      /* blur/default */
      backdrop-filter: blur(15px);
      padding: 7px;
    }
    &:hover img {
      transform: rotate(45deg);
    }
  }
}

// Arrow down
.arrow-down {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  font-family: Satoshi;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $colorDefault;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  img {
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    border-radius: 50%;
    border: 1px solid rgba(218, 197, 167, 0.15);
    background: rgba(218, 197, 167, 0.05);
    /* blur/default */
    backdrop-filter: blur(15px);
    padding: 7px;
  }
}

// Arrow down
.arrow-up {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  font-family: Satoshi;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $colorDefault;
  display: flex;
  align-items: center;
  background-color: transparent;
  &:active {
    transform: translateY(2px);
  }
  img {
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    border-radius: 50%;
    border: 1px solid rgba(218, 197, 167, 0.15);
    background: rgba(218, 197, 167, 0.05);
    /* blur/default */
    backdrop-filter: blur(15px);
    padding: 13px;
  }
}
