<!-- default button -->
<a href="#" class="btn btn-default">Button</a>

<!-- button white -->
<a href="#" class="btn btn-white">Button white</a>

<!-- button white with arrow -->
<a href="#" class="btn btn-white with arrow">Button white arrow<img src="./img/arrow-btn/arrow-up-right-white.svg" alt="with-arrow"></a>

<!-- Arrow up right -->
<a href="#" class="arrow up-right"><img src="./img/arrow-btn/arrow-up-right.svg" alt=""><span>Arrow up right</span></a>

<!-- Arrow up -->
<a href="#" class="arrow-up"><img src="./img/arrow-btn/arrow-up.svg" alt=""><span>Arrow up</span></a>

<!-- Arrow up right with text -->
<a href="#" class="arrow-up-right with-text"><img src="./img/arrow-btn/arrow-up-right.svg" alt=""><span>Arrow up right</span></a>

<!-- Arrow down without text -->
<button class="arrow-down without-text"><img src="./img/arrow-btn/arrow-down.svg" alt=""></button>

<!-- Arrow down with text -->
<button class="arrow-down with-text"><img src="./img/arrow-btn/arrow-down.svg" alt="">Arrow down with text</button>

<!-- plus -->
<button class="plus"><img src="./img/plus-minus/plus.svg" alt="plus">plus</button>




