.about {
  position: relative;
  overflow: hidden;
  padding-bottom: 116px;
   @include sm {
      padding-bottom: 30px;
    }

  &__background-text {
    position: absolute;
    top: 50%;
    left: 0;
    white-space: nowrap;
    color: $colorDefault;
    /* heading/large italic */
    font-family: Gambetta;
    font-size: 128px;
    font-style: italic;
    font-weight: 300;
    line-height: 1;
    transform: translateY(-50%);
    // animation: scrollText 20s linear infinite;
    pointer-events: none;
    z-index: 0;
    &.right {
      left: unset;
      right: 0;
    }
  }
  &__container {
    max-width: 1200px;
  }
  &__head {
    text-align: center;

    img {
      max-width: 100svw;
      mix-blend-mode: lighten;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: auto;
    }
  }
  &__body {
    display: flex;
    gap: 64px;
    padding: 0px;
    @media (min-width: 1100px) {
      padding: 0px 100px;
    }
    @include sm {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__item {
    flex: 0 1 50%;
    @include sm {
       flex: 1 1 100%;
    }
  }

  &__title {
    color: $colorDefault;
    font-family: Gambetta;
    font-size: 48px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.1;
  }

  &__text {
    color: $colorSecond;
    /* text/medium */
    font-family: Chillax;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
  }

  &__social {
    margin-top: 32px;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 10px;
    &__item {
      padding: 12px;
      border: 1px solid rgba(218, 197, 167, 0.15);
      background: rgba(218, 197, 167, 0.05);
      border-radius: 50%;
      /* blur/default */
      backdrop-filter: blur(15px);
      display: flex;
      align-items: center;
      img {
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }
      &:hover img {
        transform: scale(1.1);
      }
    }
  }

  @keyframes scrollText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
