.blog-hero {
  padding-bottom: 128px;
  @include lg {
    padding-bottom: 100px;
  }
  @include md {
    padding-bottom: 30px;
  }
  &__container {
    max-width: 1600px;
  }
  &__head {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &:not(:last-child) {
      margin-bottom: 64px;
      @include sm {
        margin-bottom: 30px;
      }
    }
  }

  &__title {
    color: $colorDefault;
    text-align: center;
    /* heading/large */
    font-family: Satoshi;
    font-size: 128px;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
  }

  &__undertitle {
    color: rgba(218, 197, 167, 0.6);
    text-align: center;
    /* text/xlarge */
    font-family: Chillax;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    @media (max-width: 1199.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include md {
      grid-template-columns: repeat(1, 1fr);
    }
    @include sm {
      gap: 20px;
    }
  }

  &__column {
    padding: 48px 47px;
    border-radius: 2px;
    border: 1px solid rgba(218, 197, 167, 0.15);
    background: rgba(218, 197, 167, 0.05);
    /* blur/default */
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    @include sm {
      padding: 20px;
    }
  }
  
}
.column-blog {
    &__picture {
      width: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 4px;
      border: 1px solid rgba(218, 197, 167, 0.15);
      &::after {
        content: "";
        position: absolute;
        background: rgba(218, 197, 167, 0.05);
        background-image: url(../img/arrow-btn/arrow-up-right.svg);
        background-repeat: no-repeat;
        background-position: center;
        padding: 12px;
        border-radius: 50%;
        border: 1px solid rgba(218, 197, 167, 0.15);
        /* blur/default */
        backdrop-filter: blur(15px);
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        opacity: 0;
        transition: 0.3s ease;
      }
      &:hover::after {
        opacity: 1;
      }
      &:hover img {
        transform: scale(1.1);
      }
      img {
        max-width: 100%;
        width: 100%;
        transition: 0.3s ease;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      &:not(:last-child) {
        margin: 31px 0px;
        @include sm {
          margin: 15px 0px;
        }
      }
    }

    &__date {
      color: rgba(218, 197, 167, 0.6);
      /* text/meta small */
      font-family: Chillax;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      text-transform: uppercase;
    }

    &__title {
      color: $colorDefault;
      /* heading/h4 */
      font-family: Satoshi;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: 1px;
      transition: 0.3s ease;
      &:hover {
        color: $colorHoverLinkTitle;
      }
      @include sm {
        font-size: 22px;
      }
      @include xs {
        font-size: 20px;
      }
    }

    &__undertitle {
      color: rgba(218, 197, 167, 0.6);
      /* text/default */
      font-family: Chillax;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.8;
    }

    &__label {
      padding: 8px;
      border-radius: 2px;
      border: 1px rgba(218, 197, 167, 0.15);
      background: rgba(218, 197, 167, 0.05);
      /* blur/default */
      backdrop-filter: blur(15px);
      color: $colorDefault;
      /* text/meta small */
      font-family: Chillax;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      text-transform: uppercase;
      margin-top: auto;
    }
  }
