.cta {
  background: rgb(218, 197, 167, 0.05);
  padding: 160px 0px;
  @include lg {
    padding: 80px 0px;
  }
  @include md {
    padding: 50px 0px;
  }
  @include sm {
    padding: 30px 0px;
  }
  &__container {
    max-width: 843px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__abovetitle {
    color: $colorDefault;
    /* text/meta */
    font-family: Satoshi;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__title {
    color: $colorDefault;
    text-align: center;
    /* heading/large italic */
    font-family: Satoshi;
    font-weight: 300;
    line-height: 1;
    font-size: clamp(40px, 5vw, 128px);
    @media (min-width: 1399.98px) {
      font-size: 128px;
    }
    span {
      font-family: Gambetta;
      font-style: italic;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__undertitle {
    color: $colorSecond;
    text-align: center;
    /* text/large */
    font-family: Chillax;
    // font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    max-width: 500px;
    font-size: clamp(16px, 5vw, 20px);
  }

  &__actions {
    margin-top: 32px;
  }
}
