// Container
// global container

[class*="__container"] {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

// Body & Locked
body {
  &.locked {
    overflow: hidden;
  }
  // Dark mode styles
  // &.dark {
  //     background: #242424;
  // }
}

.global-top {
  display: flex;
  align-items: center;
  gap: 18px;
  z-index: 5;
  position: fixed;
  right: 36px;
  bottom: 64px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  cursor: pointer;
  @media (min-width: 1599.98px) {
    right: 100px;
  }
  @include sm {
    right: 20px;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  &__text {
    color: $colorDefault;
    text-align: justify;
    /* text/meta */
    font-family: Satoshi;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    white-space: nowrap;
    @include md {
      display: none;
    }
  }
  &:hover img {
    background-color: rgb(218 197 167 / 15%);
  }
}

// global line title
.global-line {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    &:not(:last-child) {
      margin-bottom: 32px;
      @include xs {
        padding: 0px;
      }
    }
  }

  &__title {
    color: $colorDefault;
    /* heading/h1 italic */
    font-family: Gambetta;

    font-weight: 300;
    line-height: 1.1;
    font-size: clamp(24px, 5vw, 64px);
    span {
      font-style: italic;
    }
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
