.hero {
  position: relative;
  margin-bottom: 24px;
  @include sm {
    margin-bottom: 0px;
  }
  display: block;
  &__container {
    max-width: 1015px;
  }

  &__head {
    text-align: center;
    img {
      max-width: 100svw;
      mix-blend-mode: lighten;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    translate: 0 -30%;
    @include sm {
      gap: 8px;
    }
    @include xs {
      translate: 0 -20%;
    }
  }

  &__title {
    text-align: center;
    /* heading/xlarge */
    font-family: Satoshi;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    font-size: clamp(40px, 5vw, 160px);
    @media (min-width: 1399.98px) {
      font-size: 160px;
    }
    span {
      color: var(--text-default, #dac5a7);
      /* heading/xlarge italic */
      font-family: Gambetta;
      font-style: italic;
      font-weight: 300;
      line-height: 1;
      font-size: clamp(40px, 5vw, 160px);
      @media (min-width: 1399.98px) {
        font-size: 160px;
      }
    }
  }

  &__undertitle {
    max-width: 600px;
    color: $colorSecond;
    text-align: center;
    /* text/xlarge */
    font-family: Chillax;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    font-size: 24px;
    font-size: clamp(16px, 5vw, 24px);
  }
}
