.section-about {
  &__container {
  }

  &__body {
    display: flex;
    gap: 80px;
  }

  &__item {
    flex: 0 1 50%;
  }
  &__picture {
    img {
      mix-blend-mode: lighten;
      max-width: 100%;
    }
  }

  &__head {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 128px;
    }
  }

  &__title {
    color: $colorDefault;
    /* heading/large */
    font-family: Satoshi;
    font-size: 128px;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    span {
      color: $colorDefault;
      /* heading/large italic */
      font-family: Gambetta;
      font-size: 128px;
      font-style: italic;
      font-weight: 300;
      line-height: 1;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__undertitle {
    color: rgba(218, 197, 167, 0.6);
    /* text/xlarge */
    font-family: Chillax;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
  }

  &__actions {
    margin-top: 64px;
    display: flex;
    align-items: flex-start;
  }
  .card-about {
    padding: 48px;
    border-radius: 2px;
    border: 1px solid rgba(218, 197, 167, 0.15);
    background: rgba(218, 197, 167, 0.05);
    &__name {
      color: rgba(218, 197, 167, 0.6);
      /* text/meta */
      font-family: Satoshi;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    &__title {
      color: $colorDefault;
      /* heading/h2 */
      font-family: Satoshi;
      font-size: 48px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.1;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    &__text {
      color: rgba(218, 197, 167, 0.6);
      /* text/default */
      font-family: Chillax;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.8;
      &:nth-of-type(1) {
        margin-bottom: 40px;
      }
    }

    &__picture {
      margin-top: 16px;
      img {
        border-radius: 3px;
        border: 0px solid rgba(218, 197, 167, 0.15);
        background: #040000;
      }
    }
  }
}
