// Global SCSS-files imports
@import "./mixins";
@import "./vars";
@import "./reset";
@import "./fonts";
@import "./global";

// Sections or Pages SCSS-files imports
@import "./header";

// home
@import "./home";
@import "./hero";
@import "./logos";
@import "./services";
@import "./work";
@import "./process";
@import "./testimonials";
@import "./about";
@import "./talk";
@import "./cta";

// services
@import "./hero-services";
@import "./stats";
@import "./web-global";

// about
@import "./section-about";

// contact
@import "./contact";

// pricing
@import "./pricing-hero";
@import "./faq-pricing";

// work single
@import "./space";
@import "./space-about";

// blog 
@import "./blog-hero";

// framer
@import "./framer-hero";
@import "./framer-content";
@import "./related-news";

@import "./footer";

// components
@import "../components/Buttons/btn";
@import "../components/Accordion/accordion.scss";

// Libs


// @import './libs/swiper';

html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: $fontMain;
  font-weight: 400;
  background: #0e0e0e;
  color: $colorDefault;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main {
  flex: 1 1 auto;
  position: relative;
}

.main-pt {
  padding-top: 224px;
  @include lg {
    padding-top: 160px;
  }
  @include sm {
    padding-top: 140px;
  }
  &.main-pt-head {
    @include md {
      padding-top: 80px;
    }
    @include sm {
      padding-top: 40px;
    }
  }
}
