.accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .accordion__item {
    padding: 32px;
    border-radius: 2px;
    border: 1px solid rgba(218, 197, 167, 0.15);
    background: rgba(218, 197, 167, 0.05);
    /* blur/default */
    backdrop-filter: blur(15px);
    // Trigger styles
    .accordion__item-trigger {
      cursor: pointer;
      gap: 8px;
      display: flex;
      align-items: center;

      .trigger__text {
        color: $colorDefault;
        /* heading/h5 */
        font-family: Satoshi;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 1px;
      }

      .trigger__img {
        position: relative;
        margin-left: auto;

        .minus {
          display: none;
        }
      }
    }
    // Active state styles
    &.accordion__item-active {
      .accordion__item-content {
        display: block;
      }
      .accordion__item-trigger {
        margin-bottom: 16px;
      }
      .trigger__img {
        position: relative;
        margin-left: auto;

        .minus {
          display: flex;
        }
        .plus {
          display: none;
        }
      }
    }

    // Content styles
    .accordion__item-content {
      display: none;
      animation: fade 0.3s ease;

      .content__text {
        color: rgba(218, 197, 167, 0.6);
        /* text/default */
        font-family: Chillax;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
